:root {
    --light: #fff;
    --dark: rgb(15, 15, 15);
    --shadow: rgba(15, 15, 15, .4);
}
@font-face {
    src: url("../fonts/Romantic\ Couple.ttf");
    font-family: romantic;
}
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.keyNav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start ;
    padding: 0 10px;
    margin: 0;
    /* background: #334231; */
    background: rgba(194, 194,194)
    
}

.mainNav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
}

.navItem{
    list-style-type: none;
    padding: 10px;
    margin-top: 9px;
}
    
a {
    text-decoration: none;
    padding: 0px 20px;
    color: var(--dark);
    font-family: 'Times New Roman', Times, serif;
    font-size: .9em;
    text-transform: uppercase;
    transition: 1s ease-in;
    font-weight: bold;
}
a:hover {
    text-decoration: underline 2px solid  var(--dark);
    
}
.header {
    margin: 0;
    padding:  10px;
    padding-left: 20px;
    color: var(--dark);
    font-family: romantic;
    font-size: 2.5em;
    font-weight: bolder;
}
