.container {
    min-height: 600px;
    /* background: #334231; */
    background: rgba(194, 194,194);
    padding-top: 40px;
    position: relative;
}
.head {
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--dark);
    font-size: 5.1em;
    position: absolute;
    z-index: 100;
    margin-top: 120px;
    padding-left: 20px;
}

.light {
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--light);
       
}
.pg {
    margin: 0;
    font-size: .8em;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    position: absolute;
    padding-left: 20px;
    bottom: 50px;
    color: var(--dark);
    font-weight: bold;
}
.line {
    background: var(--dark);
    width: 12%;
    height: 2px;
    position: absolute;
    bottom: 45px;
    margin-left: 20px;

}
.cont1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
}
.images,
.fade-in,
.fade-out {
    height: 500px;
    width: 70%;
    z-index: 20;
    background: linear-gradient(rgba(36, 35, 35, 0.5), rgba(0, 0, 0, 0.5));
    border-radius: 20px;
}
.fade-in,
.images{
    transition: opacity 1s ease;
    
}
.fade-out,
.images{
    transition: opacity 1s ease;
    opacity: 0;
}
