:root {
    --swiper-theme-color: #000
    
}

@font-face {
    font-family: pop;
    src: url('../fonts/Poppins.ttf');
} 

.box {
    min-height: 550px;
    padding: 50px 20px; 
    /* width: 100%; */
    
}
.slide-container {
    min-width: 1120px;
}

.slide-content {
    overflow: hidden;
}
 .row {
    display: grid;
    grid-gap: 20px 0;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
} 
.side-b {
    position: absolute;
    bottom: 2px;
    text-align: center;
    padding: 20px 40px;
    margin-left: 20px;
    height: 449px;
    max-width: 403px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .8em;
    background: rgba(194, 194,194);
}
.books {
    background: rgba(194, 194,194);
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px 30px;
    margin-left: 20px;
    box-shadow: 2px 3px var(--shadow); 
    transition: transform 1s cubic-bezier(.55, -.62, .27, 1.2); 
    transform-style: preserve-3d;   
}


.books,
.side-b{
    backface-visibility: hidden;
}
.side-b {
    transform: rotateY(180deg);
}
.books-active {
    transform: rotateY(-180deg);
}
.header1 {
    text-transform: uppercase;
    font-size: .8em;
    margin-left: 20px;
    font-family: pop;
    font-weight: bolder;
    letter-spacing: 1.5px;
}
.header2 {
    margin: 15px 0 50px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}
.author {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: .7em;
    padding-top: 30px;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.title {
    font-size: .9em;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    margin: 20px 0 0 0;
}
.underline {
    height: 1px;
    width: 15%;
    background: var(--dark);
    margin: 0 0 30px 0;
}
.cover {
    height: 300px;
}
.read {
    background: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .7em;
    margin-top: 20px;
    text-decoration: underline;
    text-transform: uppercase;
    border: none;
    float: right;
    letter-spacing: 1px;
}

