.repo {
    min-height: 600px;
    padding: 30px 20px;
    margin-top: 50px;

}
.cont-1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 20px;
}
.poem-cover {
    height: 600px;
    width: 65%;
    z-index: 10;
}

.cont-2 {
   position: relative;
   float: right;
   background: rgb(194, 194, 194);
   height: 600px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 35%;  
   transition: opacity 1s ease; 
}

.piece {
    position: absolute;
    right: 20px;
    text-align: center;
    padding: 20px 30px;
    height: 600px;
    max-width: 451.14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .85em;
    background: rgba(194, 194,194);
}

.cont-2-active {
    opacity: 0
}
.text {
    font-family: pop;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .7em;
}
.p-title {
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}